*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.th{
    border-bottom: inset;
    padding: 2px;
}

.td{
    padding: 5px;
}

.tdIcons{
    display: flex;
    display: inline-flex;
    gap: 30px;
    padding-top: 5px;
}

.table{
    width: 500px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.icon{
    cursor: pointer;
    text-align: center;
}